
<html>
<h1>Welcome to our magazine</h1>
  <% for (let article of articles) {%>
    <a href="/magazine/<%= article.id%>" >
   <h4><%= article.title%>  </h4> 
</a>
   <h4><%= article.author%></h4>

   <% } %> 
</html>



