
<html>
    <h1>The article's details</h1>
        <%= oneArticle .title%>
        By:
        <br/>
        <%= oneArticle .author%>
        <br/>
        <%= oneArticle .description%>
        <br/>
        <a href="/magazine/delete/<%=oneArticle.id%>">
         <button>Delete </button>
        </a>
</html>
    
    
    