<!DOCTYPE HTML>
<html>
  <head>
    <title>HealthBloom</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1> By Binary Brains</h1>
    <p>This is a NodeJs application.</p> 
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <h4> Menu </h4>
    <a href="/magazine">Our Medical Magazine</a>
  </body>
</html>